<!DOCTYPE html>
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}/
    %title Error - Riak URL Shortener
  %body
    %h1 Woops!
    %div
      We had an internal error in our app. Sorry for the inconvenience.