<!DOCTYPE html>
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}/
    %title Riak URL Shortener
  %body
    %h1 Riak URL Shortener
    %form{:method => "post", :action => "/"}
      %p
        %label{:for => "url"} URL:
        %input{:type => "text", :size => 50, :name => "url", :id => "url"}/
        %button{:type => "submit"} Create
