<!DOCTYPE html>
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "style.css"}/
    %title Not Found - Riak URL Shortener
  %body
    %h1 Page not found
    %div
      The link or page you were looking for does not exist.
      Did you mean to 
      %a{:href => "/"} shorten a URL?